<!DOCTYPE html>
<html>
<head>
	<title>translate</title>
</head>
<body>

	<form action="{{url_for('get_data')}}" method="POST">
  <div class="group">
    <input type="text" name="inputText" placeholder="Input your text"><span class="highlight"></span><span class="bar"></span>
    <!--<label>Input your text</label>-->
  </div>
  <button type="submit" class="button buttonBlue">Translate
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>

</body>
</html>